<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-drk">
  <div class="container">
    <a class="navbar-brand" href="#">Comer</a>
    <a class="btn btn-md bg-gray-50 btn-pub">Publier un echange</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto mb-2 mb-md-0">
        <li class="nav-item urgent">
          <a class="nav-link " href="#">Urgent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Economiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Nouveautes</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
     
        <li class="nav-item">
          <a href="http://" class="nav-link border py-1">
            <i class="bi bi-person text-2xl"></i> Se connecter</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
