<div>
  <div>
    <div class="container bg-white my-10 flex-col">
      <form lass="mx-auto flex-col">
        <div class="text-center">
          <h2 class="text-2xl font-bold text-teal-700">Creer un compte</h2>
          <p class="text-gray-400">
            Veuillez vous inscrire pour continuer a profiter de nos
            fonctionalites
          </p>
        </div>
        <div class="mt-3">
          <label for="">😐 Nom d'utilisateur </label>
          <input
            type="text"
            class="appearance-none form-control border-1 font-normal"
          />
        </div>
        <div class="mt-3">
          <label for="">📩 Email </label>
          <input
            type="text"
            class="appearance-none form-control border-1 font-normal"
          />
        </div>
        <div class="mt-3">
          <label for="">📱 Telephone </label>
          <input
            type="text"
            class="appearance-none form-control border-1 font-normal"
          />
        </div>

        <div class="mt-3">
          <label for="">🔒 Creer un mot de passe</label>
          <input
            type="password"
            class="appearance-none form-control border-1 font-normal"
          />
        </div>

        <div class="flex-col justify-center">
          <button class="mt-2 mx-auto btn btn-success text-white font-bold">
            Creer un compte
          </button>
        </div>
      </form>
      <hr class="mt-2" />
      <div class="flex align-center">
        <a
        routerLink='/signin'
          class="font-bold text-teal-700 mx-auto text-center p-2"
          >Se connecter.</a
        >
      </div>
    </div>
  </div>
</div>
