<div>
  <div class="container bg-white my-10 flex-col">
    <form lass="mx-auto flex-col">
      <div class="text-center">
        <h2 class="text-2xl font-bold text-teal-700">Connexion</h2>
        <p class="text-gray-400">
          Veuillez vous connecter pour continuer a profiter de nos
          fonctionalites
        </p>
      </div>
      <div class="mt-3">
        <label for="">Email/Nom d'utilisateur 😃</label>
        <input
          type="text"
          class="appearance-none form-control border-1 font-normal"
        />
      </div>
      <div class="mt-3">
        <label for="">Mot de passe</label>
        <input
          type="password"
          class="appearance-none  form-control border-1 font-normal"
        />
      </div>
      <a href="http://" class="my-3 text-sm text-red-700">Mot de passe oublie ?</a>
      <div class="flex-col justify-center">
        <button class="mt-2 mx-auto btn btn-success text-white font-bold">
          Se connecter
        </button>

        <div class="flex align-center">
          <a
            href="http://"
            class="font-bold text-teal-700 mx-auto text-center border p-2"
            >Creer un compte.</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
