<div>
  <footer class="footer mt-auto py-3 bg-slate-300">
    <div class="container">
      <div class="flex justify-between">
        <div class="flex-col w-1/3">
          <a href="http://" class="navbar-brand text-3xl opacity-20">Comer.</a>
          <p class="text-muted">
            <b>Comer</b> est une place de marche developpe qui permet a ceux qui
            n'ont pas les moyens de pouvoir louer ou echanger des aticles dont
            ils ont besoins
          </p>
        </div>

        <div>
          <ul class="flex gap-1 font-bold ">
            <li><a href="http://">A propos</a></li>
            <li><a href="http://">Recrutement</a></li>
            <li><a href="http://">Probleme</a></li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
        <div>
          <p class="text-xs">Copyright 2022 - Comer</p>
          <hr />
          <p class="text-xs font-light">PePa soft</p>
        </div>
      </div>
    </div>
  </footer>
</div>
